<h1>
  <%= @game.player1.name %>
  (is now attacking)
  <%= @game.player1.hp_value %>HP vs
  <%= @game.player2.name%>
  <%= @game.player2.hp_value %>HP
</h1>

<form method='POST' action='/attack'>
  <input type="submit" value="Attack"/>
</form>
